* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.small_tag {
  background-color: #CCE3DE;
  display: inline-block;
  margin: 20px 6px 20px 0;
  padding: 5px;
  border-radius: 5px;
  color: var(--primary_color);

}

.button {
  border: 1px solid var(--primary_color);
  border-radius: 6px;
  max-width: 150px;
  text-align: center;
  padding: 10px 15px;
  display: inline-block;
}

.solid {
  color: white;
  background-color: #007777;
}



/* utilities */


.d_flex {
  display: flex;
}

.f_wrap {
  flex-wrap: wrap;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}


.align_center {
  align-items: center;
}

.w_80 {
  width: 80%;
}

.w_70 {
  width: 70%;
}

.w_60 {
  width: 60%;
}

.h_100 {
  height: 100%;
}

.m_auto {
  margin: auto;
}

.c_text_top {
  color: var(--font-secondary);
}

.c_text_grey {
  color: var(--grey-text)
}

.c_green_text {
  color: var(--primary_color);
}

.c_third_font {
  color: var(--third-font);
}

:root {
  --primary_color: #007777;
  --font-color: #131216;
  --header-top: #444F5A;
  --font-secondary: #E5EbE5;
  --primary_color_darker: #048383;
  --grey-text: #71939c;
  --background-top-main: #edf4ec;
  --circle-color: #212126;
  --boxed_color: #0F272D;
  --company_text: #C0C3D0;
  --light_boxed_color: #DAECED;
  --rounded_border: #B7CCC7;
  --third-font: #919194;
}


li {
  list-style: none;
}

.pd_10 {
  padding: 10px;
}

.pd_20 {
  padding: 20px;
}

.fs_20 {
  font-size: 20px;
}

.fs_17 {
  font-size: 17px;
}

.fs_14 {
  font-size: 14px;
}

.fs_12 {
  font-size: 12px;
}



/* 
<svg width="150" height="100"><defs><pattern width="150" height="100" id="dotted-texture" patternContentUnits="userSpaceOnUse" patternUnits="userSpaceOnUse"><g id="row-1"><ellipse cx="5" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="20" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="35" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="50" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="65" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="80" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="95" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="110" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="125" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="140" cy="5" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse></g><g id="row-2"><ellipse cx="5" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="20" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="35" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="50" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="65" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="80" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="95" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="110" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="125" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="140" cy="20" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse></g><g id="row-3"><ellipse cx="5" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="20" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="35" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="50" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="65" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="80" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="95" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="110" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="125" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="140" cy="35" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse></g><g id="row-4"><ellipse cx="5" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="20" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="35" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="50" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="65" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="80" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="95" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="110" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="125" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse><ellipse cx="140" cy="50" rx="3" ry="3" style="stroke:none;stroke-width:0"></ellipse></g></pattern></defs><rect width="150" height="100" x="0" y="0" fill="url(#dotted-texture)"></rect></svg> */